{% extends "tasks/base.html" %}
{% block content %}

    <h2 class="text-center" style="color: #171717;">Добавление задачи</h2>
    <form action="{% url 'tasks:new_task' %}" method="post">
      {% csrf_token %}
      
      <div class="form-group">
        {{ form.title.label_tag }}
        {{ form.title }}
      </div>

      <div class="form-group">
        {{ form.text.label_tag }}
        {{ form.text }}
      </div>

      <div class="form-group">
        {{ form.end_date.label_tag }}
        {{ form.end_date }}
      </div>

      <div class="form-group">
        {{ form.priority.label_tag }}
        {{ form.priority }}
      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-success">Добавить</button>
      </div>
    </form>

  <style>
    .form-group label {
      font-weight: bold;
      color: rgba(0, 0, 0, 0.70);
    }
    .btn-primary {
      background-color: #555;
      border-color: #555;
    }
    .btn-primary:hover {
      background-color: #555;
    }
    .container {
      max-width: 600px;
    }
    .shadow-sm {
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
  </style>

{% endblock content %}
